.window {
	position: absolute;
	z-index: 9;
	background-color: #f1f1f1;
	border: 1px solid #d3d3d3;
}

.window-header {
	min-height: 10px;
	cursor: move;
	z-index: 10;
	background-color: #2196F3;
	color: #fff;
}

.dragging>.window-header {
	background-color: #1967a6;
}

.window-header-exit {
	background-color: red;
	color: white;
}

.window-header {
	display: flex;
	flex-direction: row;
}

.window-header-title {
	flex-grow: 1;
}